doctype html
html
	head
		title Edon
		link(rel='stylesheet prefetch' href='dvsm.css')
		link(rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons")
		link(rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700")
		link(rel="stylesheet prefetch" href="https://code.getmdl.io/1.1.3/material.blue_grey-light_green.min.css")
		link(rel="stylesheet prefetch" href="https://rawgit.com/oRRs/mdl-jquery-modal-dialog/master/mdl-jquery-modal-dialog.css")
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
	body(style='overflow:hidden;font-family:Roboto')
		#editor(style='height:100%;width:100%;position:absolute;top:0;left:0;')
		button#top-right.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored(style='position:absolute;bottom:0;right:0')
			i.material-icons more_vert
		ul.mdl-menu.mdl-menu--top-right.mdl-js-menu.mdl-js-ripple-effect(data-mdl-for='top-right')
			li.mdl-menu__item#run Run
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
		script(src='https://ajaxorg.github.io/ace-builds/src-min-noconflict/ace.js')
		script(src='main.js')
		script(src="https://code.getmdl.io/1.1.3/material.min.js")
		script(src="https://rawgit.com/oRRs/mdl-jquery-modal-dialog/master/mdl-jquery-modal-dialog.js")